body{
    background-image: url(https://vignette.wikia.nocookie.net/dragonball/images/5/56/ZFightersSaiyamanSaga..png/revision/latest?cb=20150925032330);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron {
    background-color: green;
    color: white;
    opacity: .75;
    margin-top: 20px;
}

#submit {
    background: firebrick;
}

#jumbo_h2 {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.panel-title {
    color: firebrick;
}
